{% extends 'invoice/base.html' %}
{% load bulma_tags %}

{%  block content %}
<h1>Edit</h1>

    <div class="container">
        <div class="card white-ter">
            <div class="hero-body">
        
            <form action="" method="POST">
                {% csrf_token %}
                <div class="columns">
                    <div class="column col-4">
                        {{form.market}}
                    </div>
                    <div class="column">
                        {{form.customer|bulma}}
                    </div>
                    <div class="column">
                        {{form.total_amount|bulma}}
                    </div>
                    <div class="column">
                        {{form.customer_phone|bulma}}
                    </div>
                </div>
                <div class="column">
                    <div class="column">
                        {{form.billing_address|bulma}}
                    </div>
                    <div class="column">
                        date: <input class="input" type="date" name="date">
                    </div>
                    <div class="column">
                        due-date: <input class="input" type="date" name="due_date">
                    </div>
            </form>
            <div class="row spacer">
                <div class="col-4 offset-2">
                    <button type="submit" class="button btn btn-block is-info is-half">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}