{% extends "invoice/base.html" %}{% load bulma_tags %}
{% block content %}
<br>
<section class="hero is-fullheight">
    <div class="container">
        <div class="card white-ter">
            <div class="hero-body">
                <form class="" method="POST" action="">
                    {% csrf_token %}
                    <div class="columns is-centered">
                        {{form.as_p}}
                </form>
                <div class="row spacer">
                    <div class="col-4 offset-2">
                        <button type="submit" class="button btn btn-block is-info is-half">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}